<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294840928238-vlp1jlbhhl9alagk76b6p4pmkfo05lfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294840928238-vlp1jlbhhl9alagk76b6p4pmkfo05lfs</string>
	<key>API_KEY</key>
	<string>AIzaSyC0O6RsfsCTnZGJV9rV1zwoRugzFV9Igps</string>
	<key>GCM_SENDER_ID</key>
	<string>294840928238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>r00th.TwitterCloneApp</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-9233d</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-9233d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294840928238:ios:63e421f33bde942956f0ff</string>
</dict>
</plist>